* {
  box-sizing: border-box;
}

#container {
  max-width: 900px;
  height: 500px;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: inherit;
}

.slide {
  display: none;
  height: inherit;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  color: white;
  /* margin-bottom: 22px; */
  padding: 16px;
  border-radius: 0 3px 3px 0;
  transition:  background-color 0.5s ease;
  font-weight: bold;
  font-size: 1.3rem;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .3;
    /* transform: translateX(50%); */
  }
  to {
    opacity: 1;
    /* transform: translateX(0%); */
  }
}